.edit-account-container {
    margin-top: 50px;
  }
  
  .edit-account-paper {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .edit-account-title {
    color: #2e8b57;
    margin-bottom: 20px;
  }
  
  .edit-account-button {
    margin-top: 20px;
    background-color: #3cb371;
    color: white;
  }
  
  .edit-account-button:hover {
    background-color: #2e8b57;
  }
  